.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 0.5em 2em;
}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
    gap: 1em;
}

.links_list li a {
    padding: 0.4em 0.6em;
}

.active {
    background: #000;
    color: #fff
}
